:root {
  --color-84e7b3: #84e7b3;
  --color-8fe5ee: #6badb4;
  --color-74dfea: #74dfea;
  --color-519ca3: #519ca3;
  --color-52bbc7: #52bbc7;
  --color-27abb9: #27abb9;
  --color-b7781: #1b778193;
}

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.gap-50 {
  gap: 100px;
}

/******************** REGISTER PAGE ********************/
.whole-grid {
  position: relative;
}
.MuiCardActions-root .btnSignUp {
  background-color: #27acb893;
  border-radius: 56px 56px 56px 56px;
  -moz-border-radius: 56px 56px 56px 56px;
  -webkit-border-radius: 56px 56px 56px 56px;
  color: black;
  margin-left: 8px;
  margin-right: 8px;
}
.MuiCardActions-root .btnSignUp:hover {
  background-color: #27acb893;
}
.grid-5 {
  /* background-color: #6da787e0; */
  background-color: #84e6b39a;

  border-radius: 56px 56px 56px 56px;
  -moz-border-radius: 56px 56px 56px 56px;
  -webkit-border-radius: 56px 56px 56px 56px;
}

.globe {
  /* min-height: 100vh;
  max-width: 100vh; */
  position: relative;
  opacity: 0.5;
}

/******************** END REGISTER PAGE ********************/

/******************** LOGIN PAGE ********************/
.MuiCardActions-root .btnSignIn {
  background-color: #27acb898;
  border-radius: 56px 56px 56px 56px;
  -moz-border-radius: 56px 56px 56px 56px;
  -webkit-border-radius: 56px 56px 56px 56px;
  margin-left: 8px;
  margin-right: 8px;
  color: black;
}
.MuiCardActions-root .btnSignIn:hover {
  background-color: #27acb893;
}

.toggle-button {
  z-index: 100;
  width: fit-content;
  height: 10vh;
  max-height: 64px;
  position: fixed;
  right: 6vw;
  box-shadow: none;
}
/******************** END LOGIN PAGE ********************/

/******************** TOGGLE BUTTON ********************/

/******************** END TOGGLE BUTTON ********************/
@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .toggle-button {
    right: -3vw;
  }
}

/******************** NOT FOUND PAGE ********************/
/* body {
  overflow: hidden;
  background: rgb(25,35,125);
} */

div.drop-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 200px;
  width: 200px;
}


div.drop {
  position: absolute;
  top: -25%;
  width: 100%;
  height: 100%;
  border-radius: 100% 5% 100% 100%;
  transform: rotate(-45deg);
  margin: 0px;
  background: #27abb9;
  animation: drip 4s forwards;
}

h1 {
  color: white;
  position: absolute;
  font-size: 1.25em;
  font-family: Raleway;
  font-weight: 1500;
  height: 1.25em;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2;
  margin: auto;
  text-align: center;
  opacity: 0;
  animation: appear 2s 2.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.drop-container:before,
div.drop-container:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 55%;
  right: 50%;
  transform: translate(50%) rotateX(75deg);
  border-radius: 100%;
  opacity: 0;
  width: 75%;
  height: 75%;
  border: 5px solid #74dfea;
  animation: dripple 2s ease-out 1s;
}

div.drop-container:after {
  animation: dripple 2s ease-out 1.7s;
}

@keyframes drip {
  45% {
    top: 0;
    border-radius: 100% 5% 100% 100%;
    transform: rotate(-45deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
    border-radius: 100%;
  }
}

@keyframes dripple {
  0% {
    width: 150px;
    height: 150px;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    top: -20%;
    opacity: 0;
  }
}