:root {
  --color-84e7b3: #84e7b3;
  --color-8fe5ee: #8fe4ee73;
  --color-74dfea: #74dfea;
  --color-519ca3: #519ca3;
  --color-52bbc7: #52bbc7;
  --color-27abb9: #27abb9;
  --color-b7781: #1b778193;
}

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.gap-50 {
  gap: 100px;
}

body {
  font-family: "Nunito", sans-serif;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("https://i.pinimg.com/originals/f0/a7/60/f0a760797d14b0529d09298b61586d6e.png");
  background-size: cover;
  display: block;
  opacity: 0.3;
}

/******************** REGISTER PAGE ********************/
.whole-grid {
  position: relative;
}
.MuiCardActions-root .btnSignUp {
  background-color: var(--color-8fe5ee);
  border-radius: 56px 56px 56px 56px;
  -moz-border-radius: 56px 56px 56px 56px;
  -webkit-border-radius: 56px 56px 56px 56px;
  color: black;
  margin-left: 8px;
  margin-right: 8px;
}
.MuiCardActions-root .btnSignUp:hover {
  background-color: var(--color-519ca3);
}
.grid-5 {
  background-color: #84e7b296;
  border-radius: 56px 56px 56px 56px;
  -moz-border-radius: 56px 56px 56px 56px;
  -webkit-border-radius: 56px 56px 56px 56px;
}
.globe {
  position: absolute;
}

/******************** END REGISTER PAGE ********************/

/******************** LOGIN PAGE ********************/
.MuiCardActions-root .btnSignIn {
  background-color: var(--color-8fe5ee);
  border-radius: 56px 56px 56px 56px;
  -moz-border-radius: 56px 56px 56px 56px;
  -webkit-border-radius: 56px 56px 56px 56px;
  margin-left: 8px;
  margin-right: 8px;
  color: black;
}
.MuiCardActions-root .btnSignIn:hover {
  background-color: var(--color-519ca3);
}

/******************** END LOGIN PAGE ********************/

/******************** TOGGLE BUTTON ********************/

/******************** END TOGGLE BUTTON ********************/
