* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --color-84e7b3: #84e7b3;
  --color-8fe5ee: #8fe5ee;
  --color-74dfea: #74dfea;
  --color-519ca3: #519ca3;
  --color-52bbc7: #52bbc7;
  --color-27abb9: #27abb9;
  --color-b7781: #1b778193;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.form.control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.gap-50 {
  gap: 100px;
}
/******************** REGISTER PAGE ********************/
.MuiCardActions-root .btnSignUp {
  background-color: var(--color-b7781);
  opacity: 0.5;
}
.MuiCardActions-root .btnSignUp:hover {
  background-color: var(--color-519ca3);
}

/******************** END REGISTER PAGE ********************/
