.r-raindrop {
  height: 15px;
  width: 15px;
  margin-left: 7px;
  margin-right: 7px;
  transform: rotate(45deg);
}

.r-raindrop path {
  fill: #84e7b3;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
  -ms-user-select: none;
  user-select: none;
}

.container2 {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.image-list::-webkit-scrollbar {
  height: 20px;
}
.image-list::-webkit-scrollbar-thumb {
  background-color: #84e7b3; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
